%section#node_topics
  %section#node_info.box.box-gray.info-box
    %h2= @node.name
    %span 共有#{@node.topics.count}个讨论主题
    %p= @node.description
  = render partial: "shared/topics_list", locals: { topics: @node.topics.paginate(page: params[:page], per_page: 10) }
  
%section#sidebar
  %section.box
    = link_to "发布新帖", nil, class: "btn btn-success"
  %section#stats.box
    %ul
      %li 社区会员: 4029 人
      %li 帖子数: 312 篇
      %li 回帖数: 3123 条
