= render 'shared/breadcrumb', links: [["Home", ""], ["社区", ""], ["发帖", ""]]

%section#new_topic.box
  %h1 新建帖子
  = form_for @topic, html: { class: "form-horizontal" } do |f|

    - if @topic.errors.any? 
      %div#error_explanation
        %h2=  "#{@topic.errors.count} errors stop topic to save:"
        %ul
          - @topic.errors.full_messages.each do |msg|
            %li= msg 


    .control-group
      = f.label :title, "标题",  class: "control-label"
      .controls
        = f.select :node_id, Node.all.collect { |n| [ n.name, n.id ] }
        = f.text_field :title
    .control-group
      = f.label :content, "正文",  class: "control-label"
      .controls
        = f.text_area :content,  rows: 20
    .submit-button
      %input(type="submit" value="保存" class="btn btn-primary")
      = link_to "取消"

%section#sidebar
  %section#new_post_note.box
    %h2 发帖说明
    %p 没啥可说的，发就是了
