%section#new_topic.box
  %h1 新建帖子
  = form_for @topic, html: { class: "form-horizontal" } do |f|

    - if @topic.errors.any? 
      %div#error_explanation
        %h2=  "#{@topic.errors.count} errors stop topic to save:"
        %ul
          - @topic.errors.full_messages.each do |msg|
            %li= msg 

    .form-group
      .col-xs-2
        = f.select :node_id, Node.all.collect { |n| [ n.name, n.id ] }, {}, class: "form-control"
      .col-xs-10
        = f.text_field :title, class: "form-control"


    %ul.nav.nav-tabs.mb10
      %li#edit_btn.active= link_to "编辑", "#edit_pane", data: { toggle: 'tab' }
      %li#preview_btn= link_to "预览", "#preview_pane", data: { toggle: 'tab' }

    .tab-content
      #edit_pane.tab-pane.active
        = f.text_area :content, rows: 20, class: "form-control"
      #preview_pane.tab-pane
        #preview_cnt.form-control

    .mt10
      %input(type="submit" value="保存" class="btn btn-primary btn-lg")

%section#sidebar
  %section#new_post_note.box
    %h2 发帖说明
    = render "content_tip"
 
