= render 'shared/breadcrumb', links: [["Home", root_path], ["社区", ""], [@topic.node.name, node_path(@topic.node)]]

%section#show_topic
  %section#topic_banner.box.info-box
    %h1= @topic.title
    %p.topic_info
      = link_to @topic.node.name, node_path(@topic.node), class: "node"
      %span= "  •  "
      = link_to @topic.user.name, user_path(@topic.user), class: "user_link"
      %span= "  •  "
      published #{time_ago_in_words(@topic.created_at)} ago
  %section#topic_content.box
    :markdown
      #{@topic.content}

  %section#replies_banner.box.info-box
    %span 共收到 #{@topic.replies.count} 条回复

  %section#replies.box
    %ul
      - @topic.replies.each do |reply| 
        %li
          %a.col-md-1(href="")
            %img(src="#{gravatar_url(reply.user.email)}")
          %article.col-md-8
            = link_to reply.user.name, user_path(reply.user), class: "user_link"
            %span replied #{time_ago_in_words(reply.created_at)} ago
            %p= reply.content
       
  %section#reply.box
    = form_tag replies_path, method: :post do
      = text_area_tag :content, '', rows: 4
      = text_field_tag :topic_id, @topic.id , type: 'hidden'
      %input(type="submit" value="提交回复" class="btn btn-primary")

   
= render partial: "shared/sidebar"

