%section#show_topic
  %section#topic_banner.box.info-box
    %h1= @topic.title
    %p.topic_info
      = link_to @topic.node.name, node_path(@topic.node), class: "node"
      %span= "  •  "
      = link_to @topic.user.name, user_path(@topic.user), class: "user_link"
      %span= "  •  "
      published #{time_ago_in_words(@topic.created_at)} ago
  %section#topic_content.box
    = format_content @topic.content

  %section#replies_banner.box.info-box
    %span 共收到 #{@topic.replies.count} 条回复

  %section#replies.box
    %ul
      - current_replies = @topic.replies.paginate(page: params[:page], per_page: 10)
      - current_replies.each do |reply| 
        %li
          %a.col-md-1(href="")
            %img(src="#{gravatar_url(reply.user.email)}")
          %article.col-md-8
            = link_to reply.user.name, user_path(reply.user), class: "user_link"
            %span replied #{time_ago_in_words(reply.created_at)} ago
            = format_content reply.content

    %div{style: 'margin: 0px 5px'}= will_paginate current_replies, renderer: BootstrapPagination::Rails, class: 'pull-right'       

  %section#reply.box
    = form_tag replies_path, method: :post, html: { class: "form-horizontal" } do
      = text_field_tag :topic_id, @topic.id , type: 'hidden'

      %ul.nav.nav-tabs.mb10
        %li#edit_btn.active= link_to "编辑", "#edit_pane", data: { toggle: 'tab' }
        %li#preview_btn= link_to "预览", "#preview_pane", data: { toggle: 'tab' }

      .tab-content
        #edit_pane.tab-pane.active
          = text_area_tag :content, '', rows: 4, class: "form-control"
        #preview_pane.tab-pane
          #preview_cnt.form-control

      .mt10
        %input(type="submit" value="提交回复" class="btn btn-primary")
      .mt10
        = render "content_tip"
           
= render partial: "shared/sidebar"

