= render 'shared/breadcrumb', links: [["Home", "/"], ["社区", ""], [@topic.node.name, node_path(@topic.node)]]

%section#show_topic
  %section#topic_banner.box.info-box
    %h1= @topic.title
    %p.topic_info
      = link_to @topic.node.name, node_path(@topic.node), class: "node"
      %span= "  •  "
      = link_to "knwang", nil, class: "user_link"
      %span= "  •  "
      published #{time_ago_in_words(@topic.created_at)} ago
  %section#topic_content.box
    = @topic.content

  %section#replies_banner.box.info-box
    %span 共收到 5 条回复

  %section#replies.box
    %ul
      %li
        %a.col-md-1(href="")
          %img(src="#{gravatar_url('joe@example.com')}")
        %article.col-md-8
          = link_to "knwang", nil, class: "user_link"
          %span two hours ago
          %p ++ -- 这个操作就是罪恶的源泉。。++ -- 这个操作就是罪恶的源泉。。++ -- 这个操作就是罪恶的源泉。。++ -- 这个操作就是罪恶的源泉。。++ -- 这个操作就是罪恶的源泉。。++ -- 这个操作就是罪恶的源泉。。
      %li
        %a.col-md-1(href="")
          %img(src="#{gravatar_url('joe@example.com')}")
        %article.col-md-8
          = link_to "knwang", nil, class: "user_link"
          %span two hours ago
          %p ++ -- 这个操作就是罪恶的源泉。。
      %li
        %a.col-md-1(href="")
          %img(src="#{gravatar_url('joe@example.com')}")
        %article.col-md-8
          = link_to "knwang", nil, class: "user_link"
          %span two hours ago
          %p ++ -- 这个操作就是罪恶的源泉。。

  %section#reply.box
    %form(action="" method="post")
      %textarea(rows="4")
      %input(type="submit" class="btn btn-primary" value="提交回复")

%section#sidebar
  %section.box
    = link_to "发布新帖", nil, class: "btn btn-success"
  %section#stats.box
    %ul
      %li 社区会员: 4029 人
      %li 帖子数: 312 篇
      %li 回帖数: 3123 条
