= render 'shared/breadcrumb', links: [["Home", ""]]

%section#new_user.box
  %h1 注册新用户
  = form_for @user, html: { class: "form-horizontal" } do |f|
    - if @user.errors.any? 
      %div#error_explanation
        %h2=  "#{@user.errors.count} errors stop user to save:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg 


    .control-group
      = f.label :name, "用户名",  class: "control-label"
      .controls
        = f.text_field :name
      = f.label :email, class: "control-label"
      .controls
        = f.text_field :email, placeholder: "foo@bar.com"

    .submit-button
      %input(type="submit" value="提交注册信息" class="btn btn-primary")

%section#sidebar
  %section#has_account.box
    %h2 已经有帐号了？
    = link_to "登录", sign_in_path
