%section#new_user.box
  %h1 注册新用户
  = form_for @user, html: { class: "form-horizontal" } do |f|
    - if @user.errors.any? 
      %div#error_explanation
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg 

    .form-group
      = f.label :name, "用户名", class: "col-sm-3 control-label"
      .col-sm-5
        = f.text_field :name,  class: "form-control", placeholder: "输入用户名"
    .form-group
      = f.label :email, "用户名", class: "col-sm-3 control-label"
      .col-sm-5
        = f.text_field :email,  class: "form-control", placeholder: "foo@bar.com"
    .form-group
      = f.label :password, "密码", class: "col-sm-3 control-label"
      .col-sm-5
        = f.password_field :password,  class: "form-control", placeholder: "密码"
    .col-sm-offset-3.col-sm-5
      %input(type="submit" value="提交注册信息" class="btn btn-default")

%section#sidebar
  %section#has_account.box
    %h2 已经有帐号了？
    = link_to "登录", sign_in_path
