%section#user.box
  %h1 个人信息
  %img(src="#{gravatar_url(@user.email)}")
  %dl
    %dt.col-md-1 ID:
    %dd
      %strong= @user.name
    %dt.col-md-1 Email:
    %dd= @user.email
    %dt.col-md-1 Since:
    %dd= @user.created_at

%section#user_recent_topics.box
  %section#user_recent_topics_banner.box.info-box
    %span 最近发布的帖子
  %section#user_recent_topics_content.box
    %ul
      - @user.topics.each do |topic|
        %li
          = link_to topic.node.name, node_path(topic.node), class: "node"
          = link_to topic.title, topic_path(topic)
          %span= "published #{time_ago_in_words(topic.created_at)} ago"

%section#user_recent_replies.box
  %section#user_recent_replies_banner.box.info-box
    %span 最近回复的帖子
  %section#user_recent_replies_content.box
    %ul
      - @user.replies.each do |reply|
        %li
          = link_to reply.topic.title, topic_path(reply.topic)
          %span #{time_ago_in_words(reply.created_at)} ago
          :markdown
            #{reply.content}
