%section#user.box
  %h1 个人信息
  %img(src="#{gravatar_url('joe@example.com')}")
  %dl
    %dt.col-md-1 ID:
    %dd
      %strong= @user.name
    %dt.col-md-1 Email:
    %dd= @user.email
    %dt.col-md-1 Since:
    %dd= @user.created_at

%section#user_recent_topics.box
  %section#user_recent_topics_banner.box.info-box
    %span 最近发布的帖子
  %section#user_recent_topics_content.box
    %ul
      - @user.topics.each do |topic|
        %li
          = link_to topic.node.name, node_path(topic.node), class: "node"
          = link_to topic.title, topic_path(topic)
          %span= "published #{time_ago_in_words(topic.created_at)} ago"

%section#user_recent_replies.box
  %section#user_recent_replies_banner.box.info-box
    %span 最近回复的帖子
  %section#user_recent_replies_content.box
    %ul
      %li
        = link_to "[北京][2012年10月9日] 周二晚上8点小聚，有烤羊腿等着你"
        %span 3 days ago
        %p 21号有
      %li
        = link_to "[北京][2012年10月9日] 周二晚上8点小聚，有烤羊腿等着你"
        %span 3 days ago
        %p 21号有
      %li
        = link_to "[北京][2012年10月9日] 周二晚上8点小聚，有烤羊腿等着你"
        %span 3 days ago
        %p 21号有
