%ul.topics.box
  - topics.each do |topic|
    %li.row
      %a.col-md-1(href="")
        %img(src="#{gravatar_url(topic.user.email)}")
      %article.col-md-9
        %p.topic_title
          = link_to topic.title, topic_path(topic)
        %p.topic_info
          = link_to topic.node.name, node_path(topic.node), class: "node"
          %span= "  •  "
          = link_to topic.user.name, user_path(topic.user), class: "user_link"
          %span= "  •  "
          - if topic.replies.empty?
            = "published #{time_ago_in_words(topic.created_at)} ago"
          - else
            - last_replier = topic.replies.last.user
            最后由 
            #{ link_to topic.replies.last.user.name, user_path(topic.replies.last.user),  class: "user_link" } 
            于#{ time_ago_in_words(topic.replies.last.created_at) }前回复

      %p.replies.col-md-1
        %span= topic.replies.count 

