!!! 5
%html(lang="en-US")
  %head
    %title A clone of ruby-china.org
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head
  %body(data-controller-name="#{controller_name}")
    %header
      %section.container
        %h3
          %a(href="/")
            = image_tag("text_logo.png") 


        #user_menu.dropdown
          %a(class="dropdown-toggle" id="dlabel" role="button" data-toggle="dropdown" data-target="#user_menu" href="#")
            = session[:username] || "未登录"
            %b.caret
          %ul(id="menulist" class= "dropdown-menu" role="menu" aria-labelledby='dLabel')
            %li
              - if session[:username]
                = link_to "退出", logout_path
              - else 
                = link_to "登录", sign_in_path

    %section.container
      - if flash[:notice]
        = content_tag :div, flash[:notice], class: "alert alert-info" 

      - if flash[:alert]
        = content_tag :div, flash[:alert], class: "alert alert-warning" 


      = yield
    %footer
