!!! 5
%html(lang="en-US")
  %head
    %title A clone of ruby-china.org
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :head
  %body
    %header
      %section.container
        %h3
          %a(href="/")
            = image_tag("text_logo.png") 


        %ul.span3
          %li
            = link_to "社区"
          %li
            = link_to "会员"
        .dropdown
          %a(class="dropdown-toggle" id="dlabel" role="button" data-toggle="dropdown" data-target="#" href="#")
            = session[:username] || "未登录"
            %b.caret
          %ul(class= "dropdown-menu" role="menu" aria-labelledby='dLabel')
            %li
              = link_to "退出", logout_path

    %section.container
      = yield
    %footer
